<!-- contacto1-->
{% extends "base.html" %}

{% block titulo %} Contacto - Living {% endblock %}
{% block style %}
style="
      
      font-style: italic ;
      font-weight: bolder;
      text-decoration: underline;
      background-color: rgb(27, 75, 163) ;
      "
{% endblock %}
{% block contenido %}
{% load static %}
<!--<link rel="stylesheet" href='{% static "css/estilo.css" %}' type='text/css' ">-->
<body style="background-color: white">
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                Contactanos
            </div>
            <div class="card-body">
                <h4 class="card-title">Cuentanos...</h4>

                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% for campo in formulario %}
                      <div class="mb-3">
                        <label for="" class="form-label">{{ campo.label }}</label>
                        <input type="{{ campo.field.widget.input_type }}"
                          class="form-control" 
                          name="{{ campo.name }}" id="" aria-describedby="helpId" placeholder="{{ campo.label }}">
                      </div>
                      <div class="col-12 help-text">{{ campo.errors }}</div>
                      {% endfor %}


                <div class="d-flex justify-content-end">
                    <button type="reset" value="Cancelar" class="btn btn-secondary">Cancelar</button>&nbsp;
                    <button type="submit" id="btnEnviar" class="btn btn-success">Enviar</button>
                </div>
                </form>
            </div>
            <div class="card-footer text-muted">
                Living
                <!-- Links de olvidar contraseña o condiciones-->
            </div>
        </div>
    </div>
</div>


<table id="tablacontactos">

</table>
</body>
{% endblock %}



<!--
    #opciones_consulta = [
#    [0, "consulta"],
#    [1, "reclamo"],
#    [2, "sugerencia"],
#    [3, "felicitacion"]
#]
class Contacto(models.Model):
    nombre = models.CharField(max_length=50)
    correo = models.EmailField()
#    tipo_consulta = models.IntegerField(choices=opciones_consulta)
    tipo_consulta = models.CharField(max_length=20)
    mensaje = models.TextField()
#    avisos = models.BooleanField()

    def __str__(self):
        return self.nombre
-->