{% extends "base.html" %}

{% block titulo %} ¿Cuál es mi condición de Salud? - Living {% endblock %}

{% block contenido %}
{% load static %}

  <link rel="stylesheet" href='{% static "css/estilo.css" %}' type='text/css' ">
 
  <body style="background-color: white">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Revisar Mi Condición
                </div>
                <div class="card-body">
                  <h4 class="card-title">Ingresa tus Datos</h4>
  
                  <form enctype="multipart/form-data" method="post">
                      {% csrf_token %}
                      {% for campo in formulario %}
                        <div class="mb-3">
                          <label for="" class="form-label">{{ campo.label }}</label>
                          <input type="{{ campo.field.widget.input_type }}"
                            class="form-control" 
                            name="{{ campo.name }}" id="" aria-describedby="helpId" placeholder="{{ campo.label }}">
                        </div>
                        <div class="col-12 help-text">{{ campo.errors }}</div>
                        {% endfor %}
  
  
                  <div class="d-flex justify-content-end">
                      <button type="reset" value="Cancelar" class="btn btn-secondary">Cancelar</button>&nbsp;
                      <button type="submit" id="btnEnviar" class="btn btn-success">Enviar</button>
                  </div>
                  </form>
              </div>
              <div class="card-footer text-muted">
                  <!-- Links de olvidar contraseña o condiciones-->
              </div>
          </div>
      </div>
  </div>
  
  
  <table id="tablacontactos">
  
  </table>
          <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            {% if messages %}
                {% for m in messages %}
                    <script>
                      Swal.fire({
                        "title": "{{m}}",
                        "text": "{{m}}",
                        "icon": "success"
                      })
                    </script>
                {% endfor %}
            {% endif %}

  </body>
  {% endblock %}