<!--Sin uso-->
{% extends "base.html" %}

{% block titulo %} ¿Cuál es mi condición de Salud? - Living {% endblock %}
{% block style %}
style="
      
      font-style: italic ;
      font-weight: bolder;
      text-decoration: underline;
      background-color: rgb(27, 75, 163) ;
      "
{% endblock %}

{% block js %}
<script>
  function calcularImc(altura){
    //IMC= (peso)/((altura/100)*(altura/100))
    var IMC= altura
    Swal.fire({
      "title": "Ey pilas",
      "text": "Su IMC es: "+IMC,
      "icon": "error",
      "showCancelButton": true,
      "cancelButtonText": "Revisar los Datos",
      "confirmButtonText": "Volver a Home",
      "reverseButtons":true,
      "confirmButtonColor": "blue",
    })
    .then(function(result){
      if(result.isConfirmed){
        window.location.href = "home"
      }
    })
  }

</script>
{% endblock %}

{% block contenido %}
{% load static %}
 
  <body style="background-color: white">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Revisar Mi Condición
                </div>
                <div class="card-body">
                  <h4 class="card-title">Ingresa tus Datos</h4>
  
                  <form enctype="multipart/form-data" method="post">
                      {% csrf_token %}
                      {% for campo in formulario %}
                        <div class="mb-3">
                          <label for="" class="form-label">{{ campo.label }}</label>
                          <input type="{{ campo.field.widget.input_type }}"
                            class="form-control" 
                            name="{{ campo.name }}" id="" aria-describedby="helpId" placeholder="{{ campo.label }}">
                        </div>
                        <div class="col-12 help-text">{{ campo.errors }}</div>
                        {% endfor %}
  
  
                  <div class="d-flex justify-content-end">
                      <button type="reset" value="Cancelar" class="btn btn-secondary">Cancelar</button>&nbsp;
                      <button type="submit" id="btnEnviar" class="btn btn-success">Enviar</button>&nbsp;
                      <a href="#" onclick="calcularImc({ altura})" class="btn btn-success">Calcular</a>
                  </div>
                  </form>
              </div>
              <div class="card-footer text-muted">
                Living
                  <!-- Links de olvidar contraseña o condiciones-->
              </div>
          </div>
      </div>
  </div>
  
  
  <table id="tablacontactos">
  
  </table>
          <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            {% if messages %}
                {% for m in messages %}
                    <script>
                      Swal.fire({
                        "title": "{{m}}",
                        "text": "{{m}}",
                        "icon": "success"
                      })
                    </script>
                {% endfor %}
            {% endif %}

  </body>
  {% endblock %}