{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Condición de Salud</title>
  <link rel="stylesheet" href='{% static "css/estilo.css" %}' type='text/css' ">
</head>
 
<body>
    <section class= "form-registro">
        <h4> ¿En que condición me encuentro? </h4>
        <input class="controles" type = "int" name " edad " id ="edad" placeholder="¿Cuantos años tienes?">
        <input class="controles" type = "int" name " altura " id ="altura" placeholder="¿Cuanto mides?">
        <input class="controles" type = "int" name " peso " id ="peso" placeholder="¿Cuál es tu peso?">
        <input class="controles" type = "text" name " comida " id ="comida" placeholder="¿Que prefieres comer?">
        <input class="controles" type = "text" name " deporte " id ="deporte" placeholder="¿Realizas algun tipo de deporte?">
<input class="controles" type = "text" name " alergia " id ="alergia" placeholder="¿Tienes algun tipo de alergia?">
<input class="controles" type = "text" name " condicionfisica " id ="condicionfisica" placeholder="¿Tienes algun tipo de enfermedad que te impida comer o realizar algun tipo de actividad deportiva?">
        <input class="controles" type = "text" name " sexo " id ="sexo" placeholder="¿Con que genero te identificas?">
        <center><input class="botones" type="submit" value="REGISTRAR"></center>
        <script>
          alert('Pilas :Sobre Peso')
  </script>
    </section>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{ % static 'js/control.js' % }"></script>
</body>
</html>
<!--
  <script>
                alert('Pilas :Sobre Peso')
        </script>
  <input class="controles" type = "text" name " deporte " id ="deporte" placeholder="¿Realizas algun tipo de deporte?">
<input class="controles" type = "text" name " alergia " id ="alergia" placeholder="¿Tienes algun tipo de alergia?">
<input class="controles" type = "text" name " condicionfisica " id ="condicionfisica" placeholder="¿Tienes algun tipo de enfermedad que te impida comer o realizar algun tipo de actividad deportiva?">-->