{% extends "base.html" %}
{% block titulo %} Registrar Usuario - Living {% endblock %}
{% block colornav %}rgb(27, 75, 163){% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                Completar Registro de Usuario
            </div>
        <div class="card-body">
            <h4 class="card-title">Completar Datos del Usuario</h4>
                {% include 'formulario/form1.html' %}
        </div>
        <div class="card-footer text-muted">
            Living
        <!-- Links de olvidar contraseña o condiciones-->
        </div>
        </div>
    </div>
</div>
<!--{% if messages %}
      {% for m in messages %}
          <script>
            Swal.fire({
              "title": "{{t1}}",
              "text": "{{m2}}",
              "icon": "{{i}}"

            })
          </script>
      {% endfor %}
  {% endif %}
        -->

{% endblock %}