
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}   
body {
    background-color: rgb(45, 141, 197);
}
.form-registro {

    width: 400px;
    background-color: beige;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Verdana, sans-serif;
    color: rgb(158, 24, 24); 
    box-shadow: 7px 13px 37px #000;
    margin-top: 50px;
    margin-bottom: 50px;
}
.form-registro h4 {
    font-size: large;
    margin-bottom: 20px;
    color: rgb(12, 34, 53);

}
.controles {
    width: 100%;
    background-color: beige;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #051c4d;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}
.form-registro .botones{
    align-content: center;
    width: 80%;
    background-color: rgb(56, 150, 194);
    border-radius: 2px;
    padding: 10px;
    color: rgb(219, 236, 60);
    font-style: italic;
    font-weight: bolder;
    margin: 12px;
    font-size: 16px;
    border-color: #051c4d;
}