{% extends "base.html" %}
{% block titulo %} About Living {% endblock %}

{% block contenido %} 
<h1>About Living</h1>
<p>
    Es un servicio a modo de aplicación, enfocado a aquellas personas que desean conocer su condición de salud, acorde a los gustos y condición física, complementándola con un recetario y ejercicios acordes a estos mismos, buscando una mejor condición de salud para la persona. Living permitirá analizar datos de la persona para dar recomendación de dietas especificas dada su condición, además de hacer un seguimiento recurrente . A diferencia de otros servicios similares, nuestro servicio será gratuito permanentemente y tendrás un seguimiento periódico de tu salud.
</p>
<p>
    Nuestro sistema velará por el bienestar del usuario por medio de una aplicación que permitirá llevar el control del estado de salud y de las dietas de las personas, la cual tendrá beneficios como un recetario de las comidas que se recomienden, la facilidad de usar la aplicación pues será totalmente gratis, control de salud periódico y opcionalmente ejercicios si la persona lo desea; todo esto con el objetivo a largo plazo de que incluso los usuarios contacten directamente con profesionales de la materia.
</p>
<center><img src="https://www.guiadelnino.com/var/guiadelnino.com/storage/images/alimentacion/dietas-para-adelgazar/la-dieta-de-los-17-dias-para-perder-4-a-5-kilos-sin-pasar-hambre/7621045-9-esl-ES/la-dieta-de-los-17-dias-para-perder-4-a-5-kilos-sin-pasar-hambre_w1140.jpg" class="img-fluid rounded-top" style="opacity: 70%; height:250px; width: 800px;" alt=""></center>
{% endblock %}