{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title> {% block titulo %}  {% endblock %} </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    
  
</head>

<body><!--  navbar-light bg-light 
  background-color: rgba(12, 15, 185, 0.733);
  background-color: rgba(14, 119, 22, 0.733);
  background-color: rgba(21, 104, 100, 0.747);
  background-color: rgb(45, 141, 197);
-->





    <nav class="navbar navbar-expand"
      style="
      background-color: {% block colornav %} {% endblock %} ;
      font-style: italic ;
      font-weight: bolder;
      text-decoration: underline;
      ">
        <div class="nav navbar-nav">
          
            <strong></strong><a class="nav-item nav-link active" href="{% url 'home' %}">
            <img src='{% static "img/liv.png" %}' alt="LIVING" width="50px" height="50px">
            </a>
            <strong><a class="nav-item nav-link active" href="{% url 'home' %}"></strong>
              <img src='{% static "img/icon1.png" %}' alt="HOME" width="90px" height="50px">
            </a>
            <strong><a class="nav-item nav-link active" style="background-color: white; font-size: 26px;" href="{% url 'about' %}">QUIENES SOMOS</a></strong>
            <strong><a class="nav-item nav-link active" style="background-color: white; font-size: 26px;" href="{% url 'dietas' %}">DIETAS</a></strong>
            <strong><a class="nav-item nav-link active" style="background-color: white; font-size: 26px;" href="{% url 'rutinas' %}">RUTINAS</a></strong>

            <strong><a class="nav-item nav-link active" style="background-color: white; font-size: 26px;" href="{% url 'register' %}">REGISTRAR</a></strong>
            <!--<strong><a class="nav-item nav-link active" style="background-color: white; font-size: 26px;" href="{% url 'contacto' %}">Contacto</a></strong>-->
            <strong><a class="nav-item nav-link active" style="background-color: white; font-size: 26px;" href="{% url 'contacto1' %}">CONTACTO</a></strong>
          
        </div>
    </nav>
  <div class="container">
    <div class="row">
        <div class="col-12">
          <br>
          {% block contenido %}  {% endblock %}
        </div>
    </div>
  </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3">Living</i>
          </h6>
          <p>
            Cuida tu salud con nuestra ayuda, en poco tiempo y de la forma indicada.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3">Servicios</i>
          </h6>
          <p>
            <a href="{% url 'dietas' %}" class="text-reset">Dietas</a>
          </p>
          <p>
            <a href="{% url 'rutinas' %}" class="text-reset">Rutinas</a>
          </p>
          <p>
            <a href="{% url 'contacto1' %}" class="text-reset">Comentarios</a> <!--sin crear-->
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3">Contacto</i>
          </h6>
          <p><i class="fas fa-home me-3"></i> Medellín, Antioquia, Colombia.</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05); margin-bottom: 0px;">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="" style="font-style: italic;">LIVING</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
  </script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  {% if messages %}
      {% for m in messages %}
          <script>
            Swal.fire({
              "title": "{{m}}",
              "text": "{{m}}",
              "icon": "success"
            })
          </script>
      {% endfor %}
  {% endif %}
          <!-- {{m}}
          icons: succes, warning, question, error , info
          -->


</body>

</html>