{% extends "base.html" %}
{% block titulo %} Rutinas - Living {% endblock %}

{% block contenido %} 
<div class="card">
    <div class="card-header">
        Rutinas
    </div>
    <div class="card-body p-5">
        <h4 class="card-title">Rutinas</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Revisar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rutina in rutinas %}
                    <tr>
                        <td>{{ rutina.nombre_rutina }}</td>
                        <td>{{ rutina.desc_rutina }}</td>
                        <td><a class="btn btn-success" style="
                            background-color: rgb(27, 75, 163); border-color: rgb(236, 236, 16);" href="rutinas/{{ rutina.d_rutina }}" role="button">Ver</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Living
    </div>
</div>
{% endblock %}