{% extends "base.html" %}
{% block titulo %} Rutina de Intensidad Intermedia {% endblock %}
{% block colornav %}rgb(26, 163, 33){% endblock %}
{% block contenido %} 
<h1 style=" text-align: center;">Rutina de Alta Intensidad</h1>
<h4>Antes de empezar a hacer ejercicio en casa</h4>
<p>
    Para estar cómodo y lograr un mejor rendimiento, vístete con ropa transpirable y adecuada para el ejercicio y usa unas zapatillas con suela flexible. Puedes utilizar un dispositivo tipo smartwatch para que te apoye en tu entrenamiento y te guíe con alguna de sus apps de deporte. El área que elijas para hacer gimnasia en casa debe permitirte saltar, acostarte y efectuar movimientos con libertad.
    Otro aspecto importante son las rutinas de calentamiento. Estas secuencias de elongaciones debes ejecutarlas de forma adecuada, ya que no debes estirar los músculos en exceso, porque esto tendría un efecto perjudicial. Trabaja cada grupo muscular por un tiempo no mayor a 30 segundos y el período total de estiramientos no debe superar los 10 minutos.
</p>
<h4>1. Posición en V</h4>
<center><img src="https://blog.laminasyaceros.com/hs-fs/hubfs/10-ejercicio-casa-V.jpg?width=667&name=10-ejercicio-casa-V.jpg" class="img-fluid rounded-top" style="height:220px; width: 800px;" alt=""></center>
<p>
    Con este tipo de ejercicio se trabaja gran parte del torso.
</p>
<p>
    Debes iniciar con una posición de plancha y luego, alternando las rodillas, procura tocar tus codos. Realiza entre 6 y 12 repeticiones de acuerdo con tu nivel de resistencia.
</p>

<h4>2. Tijeras</h4>
<center><img src="https://blog.laminasyaceros.com/hs-fs/hubfs/7-ejercicio-casa-tijeras.jpg?width=666&name=7-ejercicio-casa-tijeras.jpg" class="img-fluid rounded-top" style="height:240px; width: 600px;" alt=""></center>
<p>
    Con este tipo de entrenamiento trabajarás el abdomen y fortalecerás los músculos de la pelvis y de las piernas.
</p>
<p>
    El ejercicio se realiza acostado y deberás elevar las piernas de forma alterna. Si deseas darle mayor intensidad, puedes elevar una pierna lentamente y sostenerla en el aire. Luego, cuando eleves la otra pierna, desciende esta de nuevo lentamente. Eleva cada pierna entre 10 y 12 veces.
</p>

<h4>3. Boxeo</h4>
<center><img src="https://blog.laminasyaceros.com/hs-fs/hubfs/8-ejercicio-casa-boxeo-300x257.jpg?width=300&name=8-ejercicio-casa-boxeo-300x257.jpg" class="img-fluid rounded-top" style="height:240px; width: 320px;" alt=""></center>
<p>
    Es un trabajo que te ayudará a liberar estrés y quemar calorías rápidamente. Flexiona un poco las rodillas y lanza golpes al frente con los puños. Durante 5 minutos realizarás un trabajo cardiovascular muy eficaz. Este entrenamiento es ideal para culminar los sets de entrenamiento.
</p>

<center><a class="btn btn-success" href="{% url 'home' %}" role="button">Empezar</a></center>

{% endblock %}