{% extends "base.html" %}
{% block titulo %} dieta de la Piña {% endblock %}
{% block colornav %}rgb(223, 150, 41){% endblock %}
{% block contenido %} 

<h1 style=" text-align: center;" >Dieta de la Piña</h1>
<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk7C9nE-mlRILlUuLD3526xFzF7tUmSye2gQ&usqp=CAU" class="img-fluid rounded-top" style="height:200px; width: 500px;" alt=""></center>

<h3>¿Qué es la dieta de la piña?</h3>
<p>
    La dieta de la piña es un régimen desintoxicante o dieta depurativa para tu organismo que te permitirá además perder peso rápidamente.
</p>

<h3>¿Cómo hacer la dieta de la piña para bajar de peso rápido?</h3>
<p>
    Sigue durante 3 días la siguiente dieta y perderás la mayor parte de kilos. Esto te ayudará a consolidar la pérdida de peso a base de pescado o filete de pollo a la plancha, fruta y verdura:

    Desayuno: 2  rodajas de piña, 1 yogur desnatado y café con leche desnatada.
    Comida: 2 rodajas de piña, 2 filetes de pechuga de pollo a la plancha y 1 yogur desnatado.
    Cena: 2 rodajas de piña, 1 huevo duro y 1 yogur desnatado.
    La piña es una fruta ideal para dieta de adelgazar ya que tiene muy pocas calorías, es rica en fibra, vitamina C antioxidante y enzimas que aportan energía y otras propiedades de la piña.
</p>
<p>
    La dieta de la piña es una dieta de las que se conocen como depurativas, o dieta de choque, esto implica que nos puede hacer perder bastante peso en pocos días pero la contrapartida es que igual de rápido que perdemos los kilos los podemos volver a ganar. Por ello es muy importante que además de hacer la dieta  sigas nuestras consejos para bajar de peso rápido y NO RECUPERAR el peso perdido y descargues la guía gratuita para cambiar hábitos alimenticios y así no recuperar el peso perdido.
</p>

<h3>¿Puedo hacer la dieta de la piña con cualquier tipo de piña?</h3>
<p>
    Muchos creen que lo único que adelgaza de las dietas es que nos obligan a comer menos cantidad o menos alimentos. Nada menos cierto, además de ser necesarios unas proteinas, vitaminas… para que la dieta no sea nociva para la salud, las propiedades de los alimentos de la dieta son beneficiosos para el mismo adelgazamiento y limpieza del organismo.
    De esta forma, la fibra de la piña y sus propiedades hacen que esta dieta sea especialmente efectiva. Es muy importante usar piñas de calidad y con todas sus propiedades.
</p>
<center><a class="btn btn-success" href="{% url 'home' %}" role="button">Empezar</a></center>

{% endblock %}