{% extends "base.html" %}
{% block titulo %} Dieta de la Manzana {% endblock %}
{% block colornav %}rgb(223, 150, 41){% endblock %}
{% block contenido %} 

<h1 style=" text-align: center;" >Dieta de la Manzana</h1>
<center><img src="https://st2.depositphotos.com/6179956/11305/i/600/depositphotos_113055004-stock-photo-young-girl-eat-apple-female.jpg" class="img-fluid rounded-top" style="height:250px; width: 500px;" alt=""></center>

<h3>¿Qué es la dieta de la Manzana?</h3>
<p>
    Sin duda, una de las mejores maneras de mantenernos saludables y en forma es llevar una alimentación equilibrada y realizar ejercicio físico. Sin embargo, hacer ambas cosas con constancia no siempre es fácil. Por eso, aunque no sea muy saludable, muchas personas optan por soluciones un poco más drásticas, que nos prometen perder peso de forma rápida y sin tener que esforzarnos en ser constantes. Una muestra de ello es la dieta de la manzana.
</p>

<h3>¿Por qué debería probar la Dieta de la Manzana?</h3>
<p>
    La manzana es una de las frutas más habituales en las despensas de todo el mundo, no solo por su estupendo sabor, también por sus muchas propiedades. Contiene muchas vitaminas, minerales, antioxidantes y grandes cantidades de fibra. Esto las hace estupendas para incluirlas en nuestra dieta porque además pueden ayudarnos cuando intentamos perder peso, aportan muy pocas calorías y resultan muy saciantes, lo que hace que nos sintamos satisfechas por más tiempo. Aunque no lo parezca, la manzana es más de un 80% agua, por lo que además te mantiene hidratada, también es efectiva para combatir la retención de líquidos. Es diurética y depurativa gracias a la cisteína que contiene.
</p>

<h3>¿De qué forma se hace ésta Dieta?</h3>
<p>
    El primer día de dieta solo se permite comer manzanas, recuerda la importancia de mantenerse hidratada, tendrás que beber unos dos litros diarios. El segundo día, toma manzanas para desayunar y cenar, para comer puedes tomar una ensalada verde, pero sin aceite. Durante los días restantes, el desayuno estará formado por pan integral, manzana y pavo o un huevo cocido. El tercer día tendrás que comer una ensalada verde y cenar manzana. El cuarto puedes comer verduras al vapor y atún, y para cenar, cereales con leche desnatada. Mientras, para comer el quinto día opta por carne al horno y una ensalada verde; para cenar, de nuevo manzanas. Pasados estos cinco días es probable que hayas perdido el peso que querías, pero es más probable aún que lo
</p>
<h2>Recomendaciones:</h2>
<p>
    No es nada recomendable alargar la dieta de la manzana porque no es saludable, tiene una gran carencia de nutrientes y una ingesta calórica muy baja. Lo que nos puede causar mareos, dolor de cabeza, cansancio, irritabilidad o fatiga. Si lo que buscas es perder peso de forma efectiva y segura, la única forma de conseguirlo sin poner en riesgo tu salud es ponerte en manos de profesionales, médicos, nutricionistas y expertos en la materia que se encarguen de diseñar una dieta a tu medida.
</p>
<center><a class="btn btn-success" href="{% url 'home' %}" role="button">Empezar</a></center>

{% endblock %}